@use 'base';

button {
  cursor: pointer;
  padding: 1.5rem;
  font-size: 1.5rem;
  outline: none;
  color: #000;
  border: 1px solid rgb(209, 209, 209);
  background-color: rgb(224, 224, 224);
}

.calculatorButtons {
  display: flex;
  flex-wrap: wrap;
}

.calculatorButtons button {
  max-width: 25%;
  flex: 1 25%;
}

button:nth-child(4n) {
  background-color: rgb(231, 150, 80);;
}

button:last-child {
  background-color: rgb(231, 150, 80);;
}

.calculatorButtons button:nth-child(17) {
  max-width: 50%;
  flex: 1 50%;
}