$font-stack: 'Helvetica', sans-serif;

* {
  font-family: $font-stack;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  display: flex;
  min-height: 50vh;
  justify-content: center;
  align-items: center;
}

.quote {
  text-align: left;
  max-width: 50%;
  padding: 1rem;
  font-size: large;
  font-style: italic;
}

#author {
  text-align: right;
  padding: 1rem;
  font-size: large;
  font-weight: bold;
}
